Package: com.cw.dyyy
Name: DYYY
Version: 9.9-9
Description: 仅供学习交流。
Homepage: https://github.com/CW-1024/DYYY
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Maintainer: CW-1024
Author: CW-1024
Architecture: iphoneos-arm